<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AdmissionDbEntities" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-ES481GH; Initial Catalog=Admission_BUP; User ID=sa; Password=Qaz123;Integrated Security=True;" />-->
    <!--<add name="Admission_BUPEntities" connectionString="metadata=res://*/AdmissionDB.csdl|res://*/AdmissionDB.ssdl|res://*/AdmissionDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ES481GH;initial catalog=Admission_BUP;user id=sa;password=Qaz123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/AdmissionDBEntities.csdl|res://*/AdmissionDBEntities.ssdl|res://*/AdmissionDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9EPFAET;initial catalog=BUP_Admission_V2;persist security info=True;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>