.style_td {
    font-weight: bold;
}

.table_form td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.style_td_secondCol {
    border-left: dotted;
    border-color: gray;
    border-width: 1px;
}

.table_form tbody tr:nth-child(odd) {
    /*background-color: #f9f9f9;*/
}

.table_fullwidth {
    width: 100%;
}

.asteriskColor {
    color: crimson;
    font-size: 15px;
    font-weight: bold;
}

.spanAsterisk {
    color: crimson;
    font-size: 15px;
    font-weight: bold;
}

.panelBody_noMarginBottom {
    margin-bottom: 0px;
}

.modalProgress {
    clear: both;
    float: left;
    margin: 0px;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #848484;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.textAlignCenter {
    text-align: center;
}

.pagerStyle {
    text-align: center;
    padding-top: 10px;
}

.scrolly {
    overflow-y: auto;
}

.scrollx {
    overflow-x: auto;
}
