<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  
  
  <!-- This key is for Application Insights resource 'Admission' in resource group 'Default-ApplicationInsights-EastUS' -->
  <InstrumentationKey>f51ae680-91fc-4ef4-b2aa-f6d6c085d5c2</InstrumentationKey>
</ApplicationInsights>