<connectionStrings>
	<add name="Entities" 
       connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5VDC3QR;initial catalog=CRP_Admission;user id=sa;password=-1;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
	<!--<add name="EntitiesLog"
       connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5VDC3QR;initial catalog=BUP_Admission_LOG_V2;user id=sa;password=-1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />-->
	   
	   <add name="AdmissionDB"
     connectionString="Data Source=DESKTOP-5VDC3QR; Initial Catalog=CRP_Admission; User ID=sa; Password=-1; TrustServerCertificate=False;"
     providerName="System.Data.SqlClient"/>

  <add name="UCAMDbEntities"
         connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5VDC3QR;initial catalog=CRP;user id=sa;password=-1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />

</connectionStrings>


<!--connectionString="metadata=res://*/AdmissionDB.csdl|res://*/AdmissionDB.ssdl|res://*/AdmissionDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ES481GH;initial catalog=Admission_BUP;user id=sa;password=-1;MultipleActiveResultSets=True;App=EntityFramework&quot;"-->
<!--DESKTOP-ES481GH-->