<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <!--<connectionStrings>
    <add name="Admission_Entities" connectionString="metadata=res://*/AdmissionDB.csdl|res://*/AdmissionDB.ssdl|res://*/AdmissionDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ES481GH;initial catalog=Admission_BUP;user id=sa;password=Qaz123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>-->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=36000;dir=c:\TempImageFiles\;" />
    <!--<add key="TeletalkEducationBoardAPIKEY" value="d49c6512c7134fe5c0ce5595873bb7a4" />-->
    <add key="TeletalkEducationBoardAPIKEY" value="af825f0311dbc8af3ef5814da153de009582ac83" />
    <add key="EmailPass" value="czhe lkyk ipkt txsu" />
    <add key="Noreply2EmailPass" value="#Edusoft@#bupNP2%2025$#" />
    <add key="IsLiveServer" value="1" />
    <add key="AllStepInOneTime" value="1" />

    <!--Set this Value=1 for Live Server and for Local Server Value=0-->

    <add key="AdmissionToUCAMImageTransferVId" value="448b13b1e-0100-4ee3s-9c9dc-8a2754ffc0e3l" />

    <add key="dbblCardType" value="6" />
    <add key="dbblGatewayUrl" value="https://ecomtest.dutchbanglabank.com/ecomm2/ClientHandler" />
    <!--Live Server: https://ecom.dutchbanglabank.com/ecomm2/ClientHandler-->
    <!--Test Server: https://ecomtest.dutchbanglabank.com/ecomm2/ClientHandler-->
    <add key="dbblTransactionPath" value="http://localhost/DbblPaymentApi/api/" />

    <!--============= Photo-Signature Transfer URL ===============-->
    <add key="AdmissiPhotoPath" value="E:\Deploy_Zone\BUP_Admission\Upload\Candidate\Photo\" />
    <add key="UCAMPhotoPath" value="E:\2_Ariq\Photo\" />
    <!--============= END Photo-Signature Transfer URL ===============-->

    
    <!--============= EK-Pay ===============-->
    <add key="ekPaySendBoxBaseURL" value="https://sandbox.ekpay.gov.bd/" />
    
    <add key="ekPaySendBoxStoreId" value="bup_test" />
    <add key="ekPaySendBoxStorePass" value="BunivP@tsT1" />
    
    <add key="ekPaySendBoxSuccessURL" value="http://localhost:17124/Admission/EkPaySuccess.aspx" />
    <add key="ekPaySendBoxFailedURL" value="http://localhost:17124/Admission/EkPayFailed.aspx" />
    <add key="ekPaySendBoxCanceledURL" value="http://localhost:17124/Admission/EkPayCanceled.aspx" />
    <add key="ekPaySendBoxIPNListenerURL" value="http://localhost:17124/Admission/EkPayIPNListener.aspx" />
    
    <add key="ekPayBaseURL" value="https://pg.ekpay.gov.bd/" />
    <add key="ekPaySubURL" value="ekpaypg/v1" />
    
    <add key="ekPayStoreId" value="" />
    <add key="ekPayStorePass" value="" />
    
    <add key="ekPaySuccessURL" value="https://admission.bup.edu.bd/Admission/EkPaySuccess.aspx" />
    <add key="ekPayFailedURL" value="https://admission.bup.edu.bd/Admission/EkPayFailed.aspx" />
    <add key="ekPayCanceledURL" value="https://admission.bup.edu.bd/Admission/EkPayCanceled.aspx" />
    <add key="ekPayIPNListenerURL" value="http://localhost:17124/Admission/EkPayIPNListener.aspx" />
    <!--============= END EK-Pay ===============-->
    
  

  </appSettings>
  <connectionStrings configSource="ConnectionString.config" />
  <system.web>
    <sessionState timeout="36000"></sessionState>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="ef" namespace="Microsoft.AspNet.EntityDataSource" assembly="Microsoft.AspNet.EntityDataSource" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ChartImageHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="919430400" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
  <!--<system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false"
             host="admission@bup.edu.bd" port="465"
             userName=""
             password=""/>
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>